/* Back to top button styles */
#scroll {
	position:fixed;
	right:10px;
	bottom:10px;
	cursor:pointer;
	width:50px;
	height:50px;
	background-color:#3498db;
	text-indent:-9999px;
	display:none;
	-webkit-border-radius:60px;
	-moz-border-radius:60px;
	border-radius:60px
}
#scroll span {
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-8px;
	margin-top:-12px;
	height:0;
	width:0;
	border:8px solid transparent;
	border-bottom-color:#ffffff;
}
#scroll:hover {
	background-color:#e74c3c;
	opacity:1;filter:"alpha(opacity=100)";
	-ms-filter:"alpha(opacity=100)";
}

.csun, .miami {
    height: 37px;
    flex-shrink: 1;
    padding: 5px;
}
.mellon {
    height: 67px;
    flex-shrink: 1;
    padding: 5px;		
}
.ucsb {
    height: 47px;
    flex-shrink: 1;
    padding: 5px;		
}
.logos-container li > a {
    border: 0;
    text-decoration: none !important;
}		
.logos-container {
    list-style-type: none;
    display: flex;  
    justify-content: flex-start;
    flex-flow: row wrap;
}
